html, body {
    margin: 0;
    background-color: var(--background);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:root {
    --text: rgb(26, 26, 65);
    --background: rgb(238, 238, 238);
    --success: rgb(56, 156, 40);
    --warning: rgb(203, 168, 55);
    --error: rgb(217, 105, 105);
}

* {
    font-family: Arial;
    color: var(--text);
}

button {
    background-color: var(--background);
    border-radius: 12px;
}

button:hover {
    border: 1px solid var(--text);
    color: var(--text);
}

input {
    background-color: var(--background);
    border: 1px solid var(--text);
    color: var(--text);
}

.header-div {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    justify-content: space-between;
}

header hr, footer hr {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin: 0 20px;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.header-logo-img {
    cursor: pointer;
    font-size: 36px;
}

.header-logo-img:hover {
    animation: rotateAnimation 1s linear 1;
}

@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: rotate(360deg);
    }
}

.header-logo-text {
    padding-left: 12px;
    padding-top: 6px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: var(--text);
}

.header-logo-link {
    color: var(--text);
}

.header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 6px;
    margin-right: 10px;
}

.header-links div {
    margin-right: 15px;
}

.inactive-link {
    color: gray;
}

.active-link {
    color: var(--text);
}

.inactive-link:hover {
    color: var(--text);
}

.header-link-a {
    text-decoration: none;
}

footer {
    background-color: var(--background);
}

.footer-div {
    text-align: center;
    padding: 15px 0;
    color: gray;
    font-size: 12px;
}

.main-div {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-div hr {
    width: 100%;
}

main {
    margin-bottom: 150px;
}

.profile-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;

}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

.calendar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.month-control {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.month-control-link {
    display: block;
    border: 1px solid rgb(195, 195, 195);
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
}

.success-message {
    background-color: var(--success);
    border: 1px solid green;
}

.info-message {
    background-color: var(--text);
    color: var(--background);
    padding: 20px;
}

.warning-message {
    background-color: var(--warning);
    border: 1px solid orange;
}

.error-message {
    background-color: var(--error);
    border: 1px solid red;
}

.message-div {
    padding: 15px 30px;
    border-radius: 12px;
}

.message-text {
    color: var(--text);
}

.login-form input, .profile-form input {
    margin-bottom: 20px;
}

.description-textarea {
    background-color: var(--background);
    color: var(--text);
    margin-bottom: 20px;
    font-family: Arial;
    width: 100%;
}

.login-form {
    min-width: 300px;
}

.login-form input, .login-button, .contact-form button, .profile-form button, .profile-form input {
    width: 100%;
    height: 3em;
}

.login-button, .profile-form button, .contact-form button {
    color: var(--text);
    background-color: var(--background);
    border: 1px solid gray;
    cursor: pointer;
}

.requests-table {
    border: 1px solid var(--text);
    border-collapse: collapse;
    margin-bottom: 50px;
}

.requests-table * {
    border: 1px solid var(--text);
}

.requests-table td, .requests-table th {
    padding: 10px 30px;
}

.request-approved {
    background-color: var(--success);
}

.request-denied {
    background-color: var(--error);
}

.calendar-div {
    display: flex; 
    flex-direction: column;
}

.calendar-row {
    display: flex;
    flex-direction: row;
}

.calendar-title {
    text-align: left;
}

.calendar-data {
    padding: 5px; 
    border: 1px solid var(--text);
    min-width: 50px;
    height: 50px;
    overflow: auto;
}

.dashboard-separator {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.dashboard-separator div {
    overflow-x: auto;
}

/*.approval-graphic-div {
}*/

.table-container {
    width: 90%;
    overflow-x: auto;
}

.approve-link {
    border: 1px solid var(--text);
    padding: 2px 4px;
    display: block;
    text-align: center;
    margin-left: 4px;
}

.approve-div {
    border: none;
    display: flex;
    flex-direction: row;
}

.theme-div {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.theme-div p {
    padding: 10px 15px;
    border: 1px solid gray;
}

.theme-control-left {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.theme-control-right {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.header-logo-link {
    text-decoration: none;
}

.invalid-credentials-text {
    color: red;
}

.invalid-credentials-input {
    border: 1px solid red;
}

.logout-button {
    border: 1px solid gray;
    background: var(--background);
    padding: 5px;
}

.logout-button-link {
    text-decoration: none;
    font-size: 16px;
    color: gray;
}

.header-links-toggle {
    display: none;
}




@media screen and (max-width: 768px) {
    .header-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-links-toggle {
        display: block;
        padding: 12px 16px;
        cursor: pointer;
        font-size: 24px;
        font-weight: bold;
        color: var(--text);
        background-color: var(--background);
        border: 2px solid gray;
    }

    .header-small-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .header-div {
        flex-direction: column;
        padding-right: 20px;
    }

    .header-links div {
        padding: 10px 0 10px 20px;
    }

    .header-links button {
        margin: 10px 0 10px 20px;
    }

    .profile-form {
        flex-direction: column;
    }

    .dashboard-separator {
        flex-direction: column;
    }
}

